<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" sizes="16x16 32x32" href="/favicon.png">
  <title>Diplom</title>
</head>

<body>
  <div id="render-target"></div>
</body>
